<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<h1> About </h1>
<p> This was a small independent project designed by mfirkins while learning
  django 3. Its a simple project, but really helped me learn the ropes of
  Django alot quick than I thought. This project includes pure Python code,
  Django code, Bootstrap, HTMl, CSS and Javascript. My journey with Django
was made possible with this udemy course: https://www.udemy.com/course/django-3-make-websites-with-python-tutorial-beginner-learn-bootstrap/ by Nick Walter</p>

<p> The Password Generator, © mfirkins 2021, All Rights Reserved </p>
